{{#if erros}}
    <div class="alert alert-danger">
        <ul>
            {{#each erros}}
                <li>{{this.texto}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

<h3>Registre seu Usuário: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/registro" method="post">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control mt-1" required>
            <label for="documento">CPF/CNPJ: </label>
                <input type="text" name="documento" class="form-control mt-1" placeholder="000.000.000-00 ou 00.000.000/0000-00" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control mt-1" required>
            <label for="endereco">Endereço: </label>    
                <input type="text" name="endereco" class="form-control mt-1" required>
            <label for="data_nascimento">Data de Nascimento: </label>    
                <input type="date" name="dataNasc" class="form-control mt-1" required>   
            <label for="senha">Senha: </label>  
                <input type="password" name="senha" class="form-control mt-1" required>
            <label for="senha2">Digite a senha novamente: </label>  
                <input type="password" name="senha2" class="form-control mt-1" required>
                
            <button type="submit" class="btn btn-success mt-4">Registrar</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const errorMessages = document.getElementById('errorMessages');
        if (errorMessages) {
            errorMessages.classList.remove('d-none');
        }
    });
</script>
