<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a> <!-- Link para a página inicial -->
        </li>
        {{#if user}}

        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/usuario/registro">Registro</a> <!-- Link para a página de registro -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuario/login">Login</a> <!-- Link para a página de login -->
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
